doctype 5
html(ng-app='SRTM')

    head
  
        script(src = '/angular-1.0.6/angular.js')
        script(src = '/three-r57/three.js')
        script(src = '/namespace.coffee-1.0.1/namespace.js')

        != js('manifest')
        != css('style')

    body

        block content
