three-viewport(

    class         = 'viewport view'

    renderer-type = 'CanvasRenderer'

    camera-type   = 'PerspectiveCamera'
    field-of-view = 45
    near-clip     = 1
    far-clip      = 100

)
